<div class="login">
  <div class=" title p-field p-grid">
    <div class="p-col">
      <label for="firstname3" class="p-col-fixed" style="width:100px">Login</label>
      <input id="firstname3" type="text" pInputText>
    </div>
  </div>
  <div class="title1 p-field p-grid">
    <div class="p-col">
      <label for="lastname3" class=" p-col-fixed" style="width:100px">Senha</label>
      <input id="lastname3" type="text" pInputText>
    </div>
  </div>
  <button pButton pRipple type="button" label="Success" class=" p-button-rounded p-button-success"></button>

</div>
