.title{
  bottom: 0;
  position: fixed;
  background-color: #536162;
  justify-content: center;
  padding: 15px;
  text-align: center;
  width: 100%;
  left: 0;
}

img{
  max-width: 60px;

  }

  img.acende:hover{
    opacity: 1.0;
    -moz-opacity:1.0;
    Filter: Alpha(opacity=100);
  }

  img.grow:hover
    {
            -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    }
